@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
  font-family: "Poor Story", system-ui;
}

#introduction {
  text-align: center;
  font-size: 30px;
}

#title {
  text-align: center;
  font-size: 80px;
}

#container {
  width: 80%;
  border: 6px solid black;
  background-color: white;
  margin: auto;
}

body {
  background-color: cornsilk;
}

img {
  height: 300px;
  margin-left: 30%;
  margin-right: 50px;
}

.discription {
  display: inline-block;
  font-size: 30px;
}

section {
  margin: 100px;
}

a {
  text-decoration: none;
}

a:link {
  color: #97E7E1;
}

a:visited {
  color: #7AA2E3;
}

a:hover {
  color: #6AD4DD;
}

a:active {
  color: #F8F6E3;
}

#참치 {
  height: 300px;
  width: 300px;
  margin-left: 30%;
  margin-right: 50px;
}